<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <style>
    html, body {
      padding: 0;
      margin: 0;
      background: #fbfbfb;
      color: #4c4f56;
      font-family: roboto;
    }
    
    * {
      box-sizing: border-box;
    }

    h1, h2, h3, h4, h5 {
      margin: 0;
    }
  </style>
</head>
<body>
  <h1 style="margin-bottom: 20px;">
    Bruh confirm your invoice generator parameters
  </h1>

  <br><br>
  <div>
    If have absences just add "&absences=NUM_OF_ABSENCES" on the parameters.
  </div>

  <div style="margin-bottom: 15px;">
    Check your parameters by clicking the button or copy and pasting the link below.
  </div>

  <div>
    <a
      href="https://cron-job.org/en/members/jobs/"
      style="
        display: inline-block;
        border: 0;
        padding: 15px 10px;
        border-radius: 5px;
        background-color: #359cd6;
        color: #fff;
        margin-bottom: 15px;
        text-decoration: unset;
      "
    >
      Check Parameters
    </a>
  </div>
  
  <a href="https://cron-job.org/en/members/jobs/">
    https://cron-job.org/en/members/jobs/
  </a>
</body>
</html>
